body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F8FF;
    cursor: default;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    max-width: 840px;
    margin: 0 auto;
    background-color: #FFFFFF;
    max-height: 190px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.header-logo img {
    max-width: 240px;
    max-height: 190px;
}

.header-title {
    max-width: 300px;
    font-size: 26px;
    color: #2B3B4D;
}

.header__right {
    position: relative;
    display: inline-block;
}

.header__right img {
    width: 250px; 
    height: auto;
}

.header__right p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    font-weight: 500;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 15px;
}

.action-item {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    padding: 10px 0;
}

.action-item img {
    width: 40px;
    height: 40px;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 0;
    margin: 0 15px;
}

.feature {
    background-color: #FFFFFF;
    border: 1px solid #DAE4EC;
    box-shadow: 0px 0px 12px rgba(242, 248, 255, 1);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.feature:hover {
    text-decoration-line: underline;
    -webkit-box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.feature img {
    max-width: 130px;
    height: 130px;
    margin-bottom: 15px;
}

.feature__container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.feature-title {
    font-weight: 600;
    font-size: 15px;
    color: #2B3B4D;
    margin-bottom: 10px;
}

.feature-description {
    font-weight: 500;
    font-size: 13px;
    color: #2B3B4D;
}

.contact-section {
    text-align: center;
    padding: 15px;
    background: linear-gradient(291.02deg, #005CBB 20.65%, #0089D0 83.37%);
    border-radius: 6px;
    color: #FFFFFF;
}

.contact-section h2 {
    font-weight: 800;
    font-size: 18px;
}

.contact-section p {
    font-weight: 600;
    font-size: 12px;
}

.contact-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(180deg, #FFFFFF 0%, #DBE8F7 100%);
    color: #2B3B4D;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 19px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-button:hover {
    background: linear-gradient(180deg, #DBE8F7 0%, #FFFFFF 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.utp-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F3F8FF;
    padding: 10px;
    border-radius: 6px;
    margin: 0 15px;
}

.utp-block__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.utp-block__container {
    display: flex;
    padding: 10px 20px;
}

.utp-block__item img {
    width: 40px;
    height: 40px;
}

.utp-block__item p {
    padding-left: 10px;
    font-weight: 700;
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 10px;
    color: #6D7481;
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px 0;
}

.footer__link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: #F3F8FF;
    border-radius: 6px;
    margin: 10px 0 10px 10px;
}

.footer__link img {
    width: 25px;
    height: 25px;
    padding: 10px;
}

.footer__link a {
    color: black;
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
}

.footer__link:hover {
    text-decoration-line: underline;
    -webkit-box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}









@media (max-width: 760px) {
    .header {
        max-height: 100%;
        flex-wrap: wrap;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 20px;
        padding: 20px 0;
        margin: 0 15px;
    }
}


@media (max-width: 700px) {
   .nav {
    flex-wrap: wrap;
   }

   .utp-block__container {
    flex-wrap: wrap;
   }

   .footer__container {
    flex-wrap: wrap;
   }
}

@media (max-width: 500px) {
    .header-logo {
        max-width: 200px;
    }

    .header-title {
        font-size: 20px;
        text-align: center;
    }

    .header__right img {
        width: 200px;
    }

    .header__right {
        margin-left: 25px;
    }
 }